.main{
  border: 1px solid;
  padding: 10px;
  
}
.App{
  border: 1px solid;
  padding: 10px;
  margin: auto;
}
ul{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
 
}
li{
  list-style-type: none;
  border: 1px solid;
  padding: 10px ;
  margin: 10px;
}