.mybox{
  border: 1px solid;
  margin: 10px;
  padding: 5px;
}
ul{
  display: flex;
  flex-wrap: wrap;
}
li{
  border: 1px solid gray;
  width: 100px;
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-align: center;
}
